@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* --------------- */
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

/* --------------- */
body {
  font-family: 'Montserrat';
  overflow-x: hidden;
}

a {
  color: black;
}

/* --------------- */
.wrapper {
  overflow: hidden;
  min-height: 100vh;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

/* --------------- */
.fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/in_3/bg.png") 0 0/cover no-repeat fixed;
  min-height: 100vh;
}
.fullscreen_body {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn_1, .btn_2 {
  display: inline-block;
  padding: 20px 30px;
  border: 2px solid #fff;
  border-radius: 3px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.btn_1 a, .btn_2 a {
  font-size: 50px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
}
.btn_1 {
  margin-right: 15px;
  padding: 20px 50px;
}
.btn_2 {
  margin-left: 15px;
}

.left {
  position: fixed;
}
.left_body {
  background-color: black;
}
.left_list li {
  font-size: 50px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
}
