@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import "_nullstyle";
@import "_ibg";
// ---переменные---
/* --------------- */
body{
	font-family: 'Lato'; 
}
a{
    color: black;
}
/* --------------- */
.wrapper{
    overflow: hidden;
    max-height: 100%; 
}
.container{
 	max-width: 1130px;  
    margin: 0 auto;
	padding: 0 15px; 
    @media (max-width: 767px){
        &{
            max-width: 1116px;
            padding: 0 8px;
        }
    }
}
.title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
}
.text{
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
    color: #848789;
}
.kart {
    text-align: center;
} 
.text_alt{
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
}
/* --------------- */
.page {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    .header {
        position: absolute;
        width: 100%;
        z-index: 50;
        left: 0;
        top: 35px;
    
        &_row {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 85px;
        }
    
        &_menu {
        }
    
        &_logo {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .menu {
    
        &_body {
        }
    
        &_list {
            display: flex;
            li{
                padding: 0 37.5px;
                position: relative;
                &:nth-child(2){
                    padding: 0 110px 0 37.5px;
                    &::after{
                        display: none;
                    }
                }
                &:nth-child(3){
                    padding: 0 37.5px 0 110px;
                }
                &:after{
                    content: '';
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: #4d4959;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin: 0 0 0 -3px;
                }
                &:last-child{
                    &::after{
                        display: none;
                    }
                }
            }
        }
    
        &_link {
            font-size: 13px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            color: #4d4959;
        }
    }
    @media (max-width: 767px) {
        .menu_body{
            visibility: hidden;
        }
    }
    .main_screen{
        flex: 1 0 100%;
        position: relative;
            &_bg {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
    }
    .content {
        .generation {
            padding: 115px 0 130px 0;
            background-color: #f7f7f7;
            @media (max-width: 767px){
                &{
                    padding: 70px 0 85px 0;
                }
                &_text{
                    font-size: 16px;
                }
            }
    
            &_row {
            }
    
            &_body {
            }
    
            &_icon {
                margin-bottom: 30px;
            }
    
            &_title {
                margin-bottom: 30px;
            }
    
            &_text {
            }
        }
        .vintage {

            &_row {
                display: flex;
            }
            @media (max-width: 767px){
                &_row{
                    flex-direction: column;
                }
                &_body{
                    padding: 50px 35px 45px 35px;
                }
            }
    
            &_column {
                flex: 0 1 33.333%;
                &_b{
                    flex: 0 1 66.667%;
                }
            }
    
            &_item {
            }
    
            &_body {
                padding: 70px 65px 55px 65px;
            }
            @media (max-width: 1100px){
                &_body{
                    padding: 55px 45px 50px 45px;
                }
            }
    
            &_icon {
                margin-bottom: 26px;
            }
    
            &_title {
                margin-bottom: 23px;
            }
    
            &_text {
                font-size: 16px;
                text-align: justify;
                line-height: 30px;
                &::after{
                    content: '';
                    display: block;
                    margin: 35px auto 0 auto;
                    width: 50px;
                    height: 1px;
                    background-color: rgba(53,55,56,0.2);
                }
            }
    
            &_image {
                padding: 0 0 31.531% 0;
            }
        }
        .la {

            &_row {
                display: flex;
            }
            @media (max-width: 767px){
                &_row{
                    flex-direction: column;
                }
                &_body{
                    padding: 50px 35px 45px 35px;
                }
            }

            &_column {
                flex: 0 1 33.333%;
                order: 1;
                &_b{
                    flex: 0 1 66.667%;
                    order: 2;
                }
            }

            &_item {
            }

            &_body {
                padding: 70px 65px 55px 65px;
            }
            @media (max-width: 1100px){
                &_body{
                    padding: 55px 45px 50px 45px;
                }
            }

            &_icon {
                margin-bottom: 28px;
            }

            &_title {
                font-size: 18px;
                margin-bottom: 25px;
            }

            &_text {
                line-height: 29px;
                font-size: 16px;
                text-align: justify;
                &::after{
                    content: '';
                    display: block;
                    margin: 35px auto 0 auto;
                    width: 50px;
                    height: 1px;
                    background-color: rgba(53,55,56,0.2);
                }
            }

            &_image {
                padding: 0 0 31.531% 0;
            }
        } 
        .retro {

            &_row {
                display: flex;
            }
            @media (max-width: 767px){
                &_row{
                    flex-direction: column;
                }
                &_column:last-child{
                    height: auto;
                    padding: 0 0 100% 0;
                    order: 3;
                }
                &_column:nth-child(2){
                    order: 1;
                }
                &_column:first-child{
                    order: 2;
                }
                &_body{
                    padding: 50px 35px 45px 35px;
                }
            }
    
            &_column {
                flex: 0 1 33.333%;
            }
    
            &_body {
                padding: 70px 65px 55px 65px;
            } 
            @media (max-width: 1100px){
                &_body{
                    padding: 55px 45px 50px 45px;
                }
            }           
    
            &_icon {
                margin-bottom: 20px;
            }
    
            &_title {
                margin-bottom: 26px;
            }
    
            &_text {
                line-height: 29px;
                font-size: 16px;
                text-align: justify;
                &::after{
                    content: '';
                    width: 50px;
                    height: 1px;
                    background-color: rgba(53,55,56,0.2);
                    margin: 0 auto;
                    display: block;
                    margin: 35px auto 0 auto;
                }
            }
            &_item {
            }
    
            &_image {
                padding: 0 0 31.532% 0;
            }
        }
        .sliker {
            background-color: #f7f7f7;
            &_row {
            }
    
            &_body {
                padding: 120px 0 140px 0;
            }
            @media (max-width: 767px){
                &_body{
                    padding: 80px 0 95px 0;
                }
            }
            @media (max-width: 1100px){
                &_body{
                    padding: 90px 0 105px 0;
                }
                &_text{
                    font-size: 18px;
                }
            }
    
            &_icon {
                margin-bottom: 34px;
            }
    
            &_title {
                margin-bottom: 25px;
                text-transform: none;
                span{                    
                    font-weight: 300;
                    letter-spacing: 0.1em;
                    color: #848789;
                }

            }
    
            &_text {
            }
        }
        .lab {

            &_row {
                display: flex;
            }
            @media (max-width: 767px){
                &_row{
                    flex-direction: column;
                }
                &_column:nth-child(2), &_column:nth-child(3){
                    display: none;
                }          
            }
    
            &_column {
                flex: 0 1 16.666%;
                &_b{
                    flex: 0 1 33.333%;
                }                
            }
    
            &_block {
            }
            
        }
        .block-lab {
            &_item {
                height: auto;
                padding: 0 0 50% 0;
                &_b{
                    padding: 0 0 168.38% 0;
                }
            }
            .block-lab-row {
                display: flex;
            }
            .block-lab-column {
                flex: 0 1 50%;
                &_l{
                    padding: 0 0 50% 0;
                }
            }
        }
        .buy {
            background-color: #282f35;
            padding: 75px 0;
            text-align: center;
            &_row {
            }
    
            &_column {
            }
    
            &_body {
            }
    
            &_btn {
                font-size: 14px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                color: #ffffff;
                padding: 15px 45px;
                display: inline-block;
                border: 1px solid rgba(255,255,255,0.49);
            }
        }   
        .stay {
            text-align: center;
            padding: 100px 0;
            &_row {
            }
    
            &_column {
            }
    
            &_body {
            }
    
            &_logo {
                margin-bottom: 35px;
            }
    
            &_text {
                margin-bottom: 30px;
            }
    
            &_form {
            }
    
            &_email {
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 400;
                    font-style: italic;
                    color: #000;
                    padding: 28px 200px 28px 28px;
                    border: 1px solid #d3d7d9;
                &::placeholder{                    
                    color: #929292;
                }
            }
    
            &_submit {
                background-color: #64c29e;
                padding: 28px 45px;
                font-size: 24px;
                line-height: 24px;
                font-weight: 300;
                color: #ffffff;
                margin-left: 5px;
            }
            @media (max-width: 767px){
                &_submit{
                    display: block;
                    margin: 10px auto 0 auto;
                    width: 100%;
                }
                &_email{
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                }
                &_form{
                    margin: 0 15px;
                }
            }
    }   

        // ----
        // ----
        .item {
        display: block;
        position: relative;
        height: 100%;
        @media (max-width: 767px){
            height: auto;
            padding: 0 0 50% 0;
        }
            &_logo {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(100,194,158,0.5);
                z-index: 20;
                opacity: 0;
                transition: all 0.5s ease 0.1s;
                visibility: hidden;
                flex-direction: column;
                span{
                    padding-top: 10px;
                    font-size: 14px;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.2em;
                    color: #ffffff;
                }
            }
    
            &_image {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            &:hover{
                .item_logo{
                    
                    opacity: 1;
                    visibility: visible;    
                } 
                               
            }

        }
        .body {
        
                &_kart {
                }
        }    
}
        .footer {
            background-color: #f7f7f7;
            padding: 90px 0;
            @media (max-width: 767px){
                &{
                    padding: 70px 0;
                }
            }
            &_row {
                display: flex;
                justify-content: space-between;
            }

            &_address {
                p:first-child{
                    font-size: 16px;
                    line-height: 17px;
                    font-weight: 700;
                    color: #848789;
                }
                font-size: 13.9px;
                line-height: 17px;
                font-weight: 400;
                font-style: italic;
                color: #848789
            }

            &_social{
                img{
                    margin: 0 7.5px;
                }
            }

            &_design{
                font-size: 13.9px;
                line-height: 17px;
                font-weight: 400;
                font-style: italic;
                color: #848789;
                img{
                    margin-left: 9px;
                }
            }


        }
}
/*---------------- */

.header_about {
}
.fullscreen{
    &_bg{
        background-color: #353738;
    }
}
.content {
}
.footer {
}
